<section>

  <mat-toolbar class="new-message-section">

    <mat-toolbar-row class="new-message-container">

      <div class="new-message-box">

        <textarea class="new-message-input"
                  name="message"
                  id="message"
                  cols="30"
                  rows="1"
                  placeholder="Nachricht hinzufügen"></textarea>

        <div class="icon-container">

          <div class="add-image-container">

            <label class="add-image">+
              <input type="file"
                     id="file"
                     (change)="selectFile($event)"
                     name="image"
                     autocomplete="off">
            </label>

            <div class="file-name" *ngIf="selectedFiles">
              <div class="file-name">{{selectedFiles[0].name}}</div>
            </div>


          </div>

          <mat-icon (click)="upload()">send</mat-icon>

        </div>

      </div>

    </mat-toolbar-row>

  </mat-toolbar>

</section>




