<section>
  <mat-toolbar-row class="message-section">
    <div class="channel-name-container">
      <div class="channel-name">
        {{ channel["channelTitle"] }}
      </div>
    </div>
    <div class="container">
      <div class="message-box" *ngFor="let message of questions; let i = index">
        <div class="message-container">
          <div class="message-user">
            <div class="message-user-container">
              <img
                class="message-user-pic"
                src="./assets/img/profile_Pic_gray.png"
                alt="Pic"
              />
              <div class="message-user-name">
                {{ message.user }}
              </div>
              <div class="message-time" *ngIf="message['uploadTime']">
                {{ uploadTimeToMessageTime(message["uploadTime"]) }}
              </div>
            </div>
            <button
              class="thread-icon"
              mat-icon-button
              [matMenuTriggerFor]="menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deleteItem(i)">
                <mat-icon>delete</mat-icon>
                <span>Nachricht löschen</span>
              </button>
            </mat-menu>
          </div>
          <mat-card (click)="goToThread(i)">
            <div class="card-message-container">
              <div *ngIf="message['downloads']">
                <a
                  class="anhang-link"
                  href="{{ message['downloads'] }}"
                  target="_blank"
                >
                  <img src="{{ message['downloads'] }}" />
                </a>
              </div>

              <div class="message">
                {{ message.question }}
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <mat-toolbar class="new-message-container">
      <div class="new-message-box">
        <textarea
          #message
          class="new-message-input"
          name="message"
          id="message"
          placeholder="Nachricht hinzufügen"
          (input)="setMessage(message.value)"
        ></textarea>

        <div class="icon-container">
          <div class="add-image-container">
            <label class="add-image"
              >+
              <input
                type="file"
                id="file"
                (change)="selectFile($event)"
                name="image"
                autocomplete="off"
              />
            </label>

            <div *ngIf="percentage > 0">{{ percentage.toString() }}%</div>

            <div class="file-name-container" *ngIf="selectedFiles">
              <img [src]="imgSrc" class="file-preview" />
              <div class="file-name">{{ selectedFiles[0].name }}</div>
            </div>
          </div>

          <mat-icon (click)="saveMessage()">send</mat-icon>
        </div>
      </div>
    </mat-toolbar>
  </mat-toolbar-row>
</section>
