.new-message-section {
  background-color: #fafafa;
}

//Channel Name
.channel-name-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px 5px 0px;
}

.channel-name {
  width: 90%;
}

//Message box with name
.message-box {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.message-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.message-user-container {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.message-user-pic {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 8px;
}

.message-user-name {
  font-size: 15px;
  color: var(--primary-darker-color);
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

mat-card {
  min-height: 16px;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.message {
  width: 100%;
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
}

/*-------------------New Message------------------------*/
.new-message-container {
  position: absolute;
  bottom: 0;
  height: 180px;
  display: flex;
  justify-content: center;
}

.new-message-box {
  background-color: rgba(54, 115, 243, 0.05);
  width: 95%;
  margin: 20px 0px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.new-message-input {
  width: calc(100% - 20px);
  min-height: 40px;
  font-family: Arial;
  font-size: 17px;
  border: 0;
  border-radius: 10px;
  resize: none;
  padding: 10px;

  &:focus {
    outline: 1px solid rgba(0, 0, 0, 0.13);
  }
}

// Icons under new messageInput
.icon-container {
  display: flex;
  justify-content: space-between;

  mat-icon {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
  }
}

.add-image-container {
  display: flex;
  align-items: center;
}

.add-image {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  margin-right: 10px;

  input {
    display: none;
  }
}

.file-name-container {
  display: flex;
  align-items: center;
}

.file-name {
  font-size: 15px;
  font-weight: 100;
  margin-left: 10px;
}

.d-none {
  display: none;
}
