<section>

  <mat-toolbar class="message-section">

    
      <div class="channel-name-container">
        <div class="channel-name">
          {{ channel['channelTitle'] }}
        </div>
      </div>
      <div class="container">
      <div class="message-box" *ngFor="let message of questions">
        <div class="message-container">

          <div class="message-user-container">
            <img class="message-user-pic"
                 src="./assets/img/profile_Pic_gray.png"
                 alt="Pic">
            <div class="message-user-name">
              {{ message.user }}
            </div>
            <div class="message-time" *ngIf="message['uploadTime']">
              {{uploadTimeToMessageTime(message['uploadTime'])}}
            </div>
          </div>

          <mat-card (click)="goToThread(message)">
            <div class="message">
              {{ message.question}}
            </div>
          </mat-card>
        </div>

      </div>
    </div>


    <mat-toolbar-row class="new-message-container">

      <div class="new-message-box">
                <textarea #message
                          class="new-message-input"
                          name="message"
                          id="message"
                          placeholder="Nachricht hinzufügen"
                          (input)="setMessage(message.value)"></textarea>

        <div class="icon-container">

          <div class="add-image-container">

            <label class="add-image">+
              <input type="file"
                     id="file"
                     (change)="selectFile($event)"
                     name="image"
                     autocomplete="off">
            </label>

            <div *ngIf="percentage > 0">{{percentage.toString()}}%</div>

            <div class="file-name-container" *ngIf="selectedFiles">
              <img [src]="imgSrc" class="file-preview">
              <div class="file-name">{{selectedFiles[0].name}}</div>
            </div>

          </div>

          <mat-icon (click)="saveMessage()">send</mat-icon>

        </div>

      </div>
    </mat-toolbar-row>

  </mat-toolbar>

</section>
