<div class="menuChannelContainerOuter">
    <div class="menuChannelContainerInner">
        <div class="left">
            <div>
                <button mat-icon-button (click)="seeDropdown()">
                    <mat-icon *ngIf="dropdown">arrow_drop_down</mat-icon>
                    <mat-icon *ngIf="!dropdown">arrow_right</mat-icon>
                </button>
            </div>
            <div>
                Channels
            </div>
        </div>
        <div>
            <button mat-icon-button (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div [class.d-none]="!dropdown">
        <div class="list" *ngFor="let channel of allChannels; let i = index;">
            <div class="link channel-box" (click)="openChannel(i)">
                <div class="left">
                    #
                </div>
                <div>
                    <!-- CHANNEL NAME -->
                    {{ channel.title }}
                </div>
            </div>
        </div>
    </div>
</div>
