.header {
    height: 32px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    .headline {
        display: flex;
        align-items: baseline;
    }
    .headline-small {
        padding-left: 6px;
        font-size: 12px;
    }
}

.new-message-section {
    background-color: #fafafa;
}

.new-message-container {
    height: 180px;
    display: flex;
    justify-content: center;
}

.new-message-box {
    background-color: rgba(54, 115, 243, 0.05);
    width: 95%;
    margin: 20px 0px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.new-message-input {
    width: calc(100% - 20px);
    height: 40px;
    font-family: Arial;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    &:focus {
        outline: 1px solid rgba(0, 0, 0, 0.13);
    }
}

// Icons under messageInput
.icon-container {
    display: flex;
    justify-content: space-between;
    mat-icon {
        background-color: white;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 30px;
        cursor: pointer;
    }
}

.add-image-container {
    display: flex;
    align-items: center;
}

.add-image {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    input {
        display: none;
    }
}

.file-name {
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
}