.menuUserContainerOuter {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;

  .menuUserContainerInner {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }
  }

  .list {
    display: flex;
    padding-left: 24px;

    .left {
      height: 20px;
      padding-right: 12px;
    }
  }
}

.user-box {
  margin-bottom: 5px;
}
.profile-pic {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
