.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 50px;
  margin: 10px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-right {
  margin-right: 20px;
  text-decoration: unset;
  color: white;
}


